.card {
  border: 1px solid #ddd;
  background-color: #dbe6f2;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-title a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.2s, text-shadow 0.2s;
}

.card-title a:hover {
  color: #555;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-org {
  margin-left: 8px;
  color: #666;
  transition: color 0.2s;
}

.card-org:hover {
  color: #444;
}

.bookmark-icon {
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.bookmark-icon:hover {
  color: #444;
  transform: scale(1.2);
}

.card-body {
  margin-top: 16px;
}

.card-description {
  margin-bottom: 16px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.card-tags > * {
  margin: 4px;
  border: 1px solid rgb(194, 191, 191);
  transition: background-color 0.2s, border-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.card-tags > *:hover {
  background-color: #e1f3b1;
  border-color: #b5b5b5;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.card-detail {
  display: flex;
  align-items: center;
}

.card-detail .icon {
  margin-right: 4px;
  transition: transform 0.2s, color 0.2s;
}

.card-detail .icon:hover {
  transform: scale(1.1);
  color: #444;
}

.card-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.2s, text-decoration 0.2s;
}

.card-link:hover {
  color: #030608;
  text-decoration: underline;
}

.card-link:visited {
  color: #6c757d;
}